.content_title {
  margin-bottom: 1.5vw;
  /* da rivedere 3.64583333333333vw */
}

.content_form {
  width: 42.9166667vw;
  height: 32.2916667vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_text {
  margin-bottom: 4vw;
  text-align: justify !important;
}

.sendButton {
  height: 3.95833333333vw;
  background-color: #f2ede8;
}

.content {
  margin-top: 15.05vw;
  width: 42.91666667vw;
  margin-left: 11.875vw;
  /*228px*/
  display: flex;
  flex-direction: column;
}

.contatti {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 300px;
}


.info {
  align-self: flex-end;
  width: 34.375vw;
  height: 35.29vw;
  margin-top: 16.666vw;
  background-color: #f2ede8;
  box-shadow: 2.39583333vw 2.39583333vw 0px #e8decf;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding-left: 70px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.infoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoImg {
  padding-right: 30px;
}